@import url('https://fonts.cdnfonts.com/css/boldpixels');
* {
    -webkit-font-smooting: none;
}

:root {
    --timer: none;
    --super-bg: 1;
    --super-bg-display: flex;
    --text-color: #ffff00;
    --var-scale: 1.0;
}
#combo-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
}
body {
    margin: 0;
    background: #000000a0;
    overflow: hidden;
}
.fire {
    height: calc(24px * var(--var-scale));
    width: calc(100px * var(--var-scale));
    position: relative;
    image-rendering: pixelated;
    background: url(../assets/fire.gif);
    background-size: auto calc(24px * var(--var-scale));
    background-repeat: no-repeat;
}
.fire-stem {
    height: calc(24px * var(--var-scale));
    image-rendering: pixelated;
    background: url(../assets/fire_stem.png);
    background-size: auto calc(24px * var(--var-scale));
    width: calc(100% - 100px * var(--var-scale));
    background-repeat: repeat-x;
    transition-duration: 150ms;
}
.entry-bg {
    display: var(--super-bg-display);
    opacity: var(--super-bg);
    transition-duration: 150ms;
    width: 0;
    flex-direction: row;
    top: 0;
    z-index: -1;
    flex-shrink: 0;
}
/* 
#fff97e,
#ffca24,
#fa4d00,
#eb0000;
    */
.entry-wrapper {
    width: min-content;
    display: flex;
}
.entry-wrapper.disappear {
    animation: disappear 0.5s 0s linear forwards;
}
.entry {
    position: relative;
    font-family: boldpixels;
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: calc(8px * var(--var-scale));
    height: calc(24px * var(--var-scale));
    font-size: calc(24px * var(--var-scale));
    line-height: calc(24px * var(--var-scale));
    text-shadow: 0px 0px 2px black;
    color: var(--text-color);
    padding-left: calc(6px * var(--var-scale));
    padding-right: calc(6px * var(--var-scale));
    transition-duration: 150ms;
}
.timer {
    display: var(--timer);
    --duration: 10000ms;
    background-image: conic-gradient(transparent, var(--time-left), var(--timer-color), var(--time-left), var(--timer-color));
    height: calc(14px * var(--var-scale));
    border: 2px solid black;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-top: calc(2px * var(--var-scale));
    animation: timer var(--duration) 0s linear 1 forwards;
    transition-duration: 200ms;
}
.word {
    display: flex;
    flex-direction: row;
}
.counter {
    display: flex;
    flex-direction: row;
}


@property --time-left {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@property --timer-color {
    syntax: '<color>';
    initial-value: rgba(255,255,255,0.5);
    inherits: false;
}
@property --delay {
    syntax: '<time>';
    initial-value: 0s;
    inherits: false;
}
@property --duration {
    syntax: '<time>';
    initial-value: 0s;
    inherits: false;
}
@keyframes shake {
    0% { transform: translate(0, calc(-1px * var(--var-scale))) }
    25% { transform: translate(calc(-1px * var(--var-scale)), calc(1px * var(--var-scale))) }
    50% { transform: translate(calc(1px * var(--var-scale)), 0px) }
    75% { transform: translate(calc(-1px * var(--var-scale)), calc(1px * var(--var-scale))) }
    100% { transform: translate(0, -1px) }
}
@keyframes color-shift-fire {
    0%   { color: hsl(0, 100%, 18%); }
    10%  { color: hsl(32, 100%, 50%); }
    20%  { color: hsl(39, 90%, 81%); }
    30%  { color: hsl(27, 90%, 48%); }
    40%  { color: hsl(27, 100%, 52%); }
    50%  { color: hsl(0, 94%, 27%); }
    60%   { color: hsl(0, 100%, 50%); }
    70%  { color: hsl(39, 100%, 50%); }
    80%  { color: hsl(27, 100%, 68%); }
    90%  { color: hsl(27, 90%, 48%); }
    100%  { color: hsl(0, 100%, 18%); }
}
@keyframes wave {
    0% { transform: translateY(0px) }
    50% { transform: translateY(calc(2px * var(--var-scale))) }
    100% { transform: translateY(0px) }
}
@keyframes color-shift-rainbow {
    0%   { color: hsl(0, 100%, 50%); }
    20%  { color: hsl(72, 100%, 50%); }
    40%  { color: hsl(144, 100%, 50%); }
    60%  { color: hsl(216, 100%, 50%); }
    80%  { color: hsl(288, 100%, 50%); }
    100%  { color: hsl(360, 100%, 50%); }
}
@keyframes timer {
    0% {
        --time-left: 0deg;
        --timer-color: rgba(255,255,255,0.5);
    }
    50% {
        --timer-color: rgba(255, 123, 0, 0.705);
    }
    100% {
        --time-left: 360deg;
        --timer-color: rgba(255,0,0,0.8);
    }
}
@keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.entry-wrapper.super .letter{
    animation: shake linear .2s infinite, color-shift-fire 1s linear infinite forwards;
}
.entry-wrapper.mega .letter{
    --delay: 0s;
    animation: wave ease-in-out .5s var(--delay) infinite, color-shift-rainbow 1s var(--delay) linear infinite forwards;
}
.entry-wrapper.super .entry-bg {
    width: 100%;
}
.entry-wrapper.super .entry {
    translate: calc((-100% - 100px * var(--var-scale)) * var(--super-bg)) 0;
}
.combo-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.pos-left {
    flex-direction: column;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    transform-origin: 0 50%;
}
.pos-top-left {
    flex-direction: column;
    left: 0;
    top: 0;
    transform-origin: 0 0;
}
.pos-bottom-left {
    flex-direction: column-reverse;
    left: 0;
    bottom: 0;
    transform-origin: 0 100%;
}
.pos-right {
    flex-direction: column;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    align-items: end;
    transform-origin: 100% 50%;
}
.pos-top-right {
    flex-direction: column;
    right: 0;
    top: 0;
    align-items: end;
    transform-origin: 100% 0%;
}
.pos-bottom-right {
    flex-direction: column-reverse;
    right: 0;
    bottom: 0;
    align-items: end;
    transform-origin: 100% 100%;
}
.pos-center {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    translate: 0 -50%;
    align-items: center;
    transform-origin: 50% 50%;
}
.pos-top-center {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    align-items: center;
    transform-origin: 50% 0%;
}
.pos-bottom-center {
    flex-direction: column-reverse;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    align-items: center;
    transform-origin: 50% 100%;
}


.pos-top-right .entry-wrapper.super .entry,
.pos-bottom-right .entry-wrapper.super .entry,
.pos-right .entry-wrapper.super .entry{
    translate: none;
}
.pos-top-right .entry-wrapper,
.pos-bottom-right .entry-wrapper,
.pos-right .entry-wrapper{
    flex-direction: row;
    justify-content: end;
}
.pos-top-right .entry,
.pos-bottom-right .entry,
.pos-right .entry{
    flex-direction: row-reverse;
}
.pos-top-right .entry-bg ,
.pos-bottom-right .entry-bg ,
.pos-right .entry-bg {
    flex-direction: row-reverse;
    translate: calc(100% - 100px * var(--var-scale));
    position: relative;
}
.pos-top-right .fire,
.pos-bottom-right .fire,
.pos-right .fire{
    scale: -1 1;
}
#notification {
    color: var(--text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    pointer-events: none;
}