@font-face {
    font-family: JetBrains Mono;
    src: url(../assets/JetBrainsMono-Regular.ttf);
}
:root {
    --notifications-logs-display: none;
}
#notifications-wrapper {
    display: flex;
    flex-direction: column-reverse;
    font-family: JetBrains Mono;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    width: 100dvw;
    justify-content: left;
    align-items: left;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}
.notification {
    line-height: 24px;
    color: green;
    text-shadow: 0 0 .5rem black;
    animation: notification 8s 0s ease-in forwards;
    transform-origin: 0% 50%;
    white-space: nowrap;
    align-self: flex-start;
}
.notification.log {
    display: var(--notifications-logs-display);
    color: white;
}
.notification.warn {
    color: yellow;
}
.notification.error {
    color: red;
}
@keyframes notification {
    0% {
        translate: -100dvw 0;
    }
    5% {
        translate: 0 0;
    }
    95% {
        translate: 0 0;
    }
    100% {
        translate: -100dvw 0;
    }
}