:root {
    --reverse: 0;
}

#now-playing-wrapper {
    left: 0;
    flex-direction: row;

    top: 0;
    position: relative;
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: flex-start;
}
#anchor.reverse #now-playing-wrapper {
    left: -800px;
    flex-direction: row-reverse;

}
#now-playing-bg {
}
#anchor {
    position: fixed;
    top: 0;
    left: -100dvw;
    width: 0;
    height: 0;
    animation: anim-slide-in 10s ease 1s forwards;
}
#anchor.reverse {
    left: 100%;
    animation: anim-slide-in-reverse 10s ease 1s forwards;
}

@keyframes anim-slide-in {
    0% {
        left: -100dvw;
    }
    25% {
        left: 0;
    }
    75% {
        left: 0;
    }
    100% {
        left: -100dvw;
    }
}

@keyframes anim-slide-in-reverse {
    0% {
        left: 100dvw;
    }
    25% {
        left: 0;
    }
    75% {
        left: 0;
    }
    100% {
        left: 100dvw;
    }
}

@font-face {
    font-family: "jet";
    src: url("JetBrainsMono-Regular.ttf");
}
#music-text {
    margin-left: 5px;
    color: white;
    font-family: "jet";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-style: italic;
    text-shadow: 0 0 5px black;
    overflow: hidden;
    flex-grow: 1;
}
#anchor.reverse #music-text {
    align-items: end;
}

#music-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 40px;
}
#music-artists {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 32px;
}
#disc-image {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    border-radius: 100%;
    position: relative;
    border: 10px solid black;
    box-sizing: border-box;
    margin: 10px;
    outline: 10px solid black;
    outline-offset: -85px;
    mask-image: radial-gradient(transparent 5px, white 6px);
    animation: spin 20s linear infinite forwards;
}
@keyframes spin {
    0% {rotate: 0deg}
    100% {rotate: 360deg}
}